body,
html {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(339deg, #373b44, #4286f4);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

.App {
	backdrop-filter: blur(50px);
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 54% 0%;
	}
	50% {
		background-position: 47% 100%;
	}
	100% {
		background-position: 54% 0%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 54% 0%;
	}
	50% {
		background-position: 47% 100%;
	}
	100% {
		background-position: 54% 0%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 54% 0%;
	}
	50% {
		background-position: 47% 100%;
	}
	100% {
		background-position: 54% 0%;
	}
}
